body {
  font-family: 'Open Sans', sans-serif;

}

.box {
      width: 1500px;
      height: 150px;
      padding: 20px 150px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: grey;



}

#redbox1 {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: red;
      float: right;

}

.box2 {
      width: 1500px;
      height: 150px;
      padding: 25px 150px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: grey;


}

#yellowbox1 {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: yellow;
}

.box3 {
      width: 1500px;
      height: 150px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: grey;
    
}

#bluebox1 {
      width: 100px;
      height: 100px;
      padding: 25px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: blue;
      margin: auto;

}

.box4 {
      width: 1500px;
      height: 200px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: grey;
    
}

#orangebox1 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: orange;
     margin: 20px;
     display: inline-block;
}

#orangebox2 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: orange;
      margin: 20px;
      display: inline-block;
}

.box5 {
      width: 1500px;
      height: 340px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      text-align: center;
      background-color: grey;

    
}

#redbox2 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: red;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;

}

#orangebox3 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: Orange;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;

}

#yellowbox2 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: Yellow;
      margin: 20px;
      display: inline-block;
      margin-inline: 55px;
}

#greenbox1 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: green;
      margin: 20px;
      display: inline-block;
      margin-inline: 60px;
     
}

#bluebox2 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: Blue;
      margin: 20px;
      display: inline-block;
     margin-inline: 50px;
}

#indigobox1 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: indigo;
      margin: 20px;
      display: inline-block;
      margin-inline: 50px; 
      

}

#violetbox1 {
      width: 100px;
      height: 100px;
      padding: 20px;
      border: 3px solid black;
      box-sizing: border-box;
      background-color: violet;
      margin: 20px;
      display: inline-block;
      margin-inline: 50px;
}
      


